/*--------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 15px;
	color: #000;
}

/*--------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------*/
.row{
	margin: 0 auto;
	position: relative;
}

body{
/*    width: 1140px;*/
    margin-top: 35px;
}

.Section {
    height: 700px;
}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/helvetica-2-cufonfonts-webfont/Helvetica-BoldOblique.woff");
}


.SectionTitle {
    text-align: center;
    font-size: 35px;
    font-family: "Josefin sans";
    margin-bottom: 15px;
}

.Wrap {
    min-width: 1280px;
    max-width: 1280px;
    margin: auto;
    
}
.sideBySideBoxesContainer {
    display: flex;
}
.rightHalfScreenBox {
    width: 640px;
    flex: 1;
}
.leftHalfScreenBox {
    width: 640px;
    flex: 1;
}

.GridContainer{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.DivWith2OverlappingElements{
    position: relative;
}
/*--------------------------------------------------*/
/* Big Name Banner */
/*--------------------------------------------------*/

.Title{
    height: 700px;
    width: 100vw;
    min-width: 1280px;
    background-size: cover;
}

.AnimatingBars{
    height: 500px;
    width: 250px;
    display: inline-block;
}

.AnimatingBar{
    width: 8px;
    display: inline-block;
    vertical-align: top;
    background-color: #8BB990;
}

#RightAnimatingBars{
    position: absolute;
    right: 0px;
    text-align: right;
}

.NameTitle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.NameTitle img{
    width: 600px;
    height: auto;
}



/*--------------------------------------------------*/
/* About Me */
/*--------------------------------------------------*/
#AboutMe {
}
#SelfPortrait {
    width: 300px;
    max-width: 640px;
    height: auto;
}

#AboutMeParagraph{
    font-family: "Josefin sans";
    font-size: 20px;
    line-height: 1.5;
    margin: 30px;
}
#AboutMeParagraphBox {
    
}
#SelfPortraitBox {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#AboutMeSideBySideBoxesContainer{
    position: relative;
    height: 500px;
}
#AboutMeBannerOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s; 
    background-color: black;
}

#AboutMeSideBySideBoxesContainer:hover #AboutMeBannerOverlay{
    width: 640px;
}
/*--------------------------------------------------*/
/* Skills */
/*--------------------------------------------------*/
#TechnicalSkillsImageBox {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
#SoftSkillsImageBox {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.SkillBarBox{
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 400px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    position: relative;
    
}

.SkillBar{
    height: 25px;
    margin-left: 4px;
}
.SkillName{
    text-align: left;
}
.SkillName h1{
    color: white;
    padding-left: 1px;
    font-family: "Josefin sans";
    padding-top: 3px;
}

#TechnicalSkillsImage{
    width: 300px;
    height: auto;
}

#SoftSkillsImage {
    width: 300px;
    max-width: 640px;
    height: auto;
}



/*--------------------------------------------------*/
/* Portfolio */
/*--------------------------------------------------*/
#Portfolio{
    text-align: center;
}
#PortfolioGrid{
    margin-left: auto;
    margin-right: auto;
}
.GridItemContainer{
    border: 1px solid rgba(0, 0, 0, 1);
}
.GridItemContainer img{
    width: 300px;
    height: auto;
}


/*--------------------------------------------------*/
/* Contact Me */
/*--------------------------------------------------*/
#ContactMe{
    margin-top: 200px;
    background-size: cover;
    background-position: center;
}


#UserEmailTextFieldWithHeaderBox{
    display: block;
    margin: auto;
    width: 890px;
    height: 40px;
}
#UserEmailTextField{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-family: "Josefin sans";
    font-size: 25px;
    border-color: black;
    border-width: 2px;
    background-color: antiquewhite
}



#UserTextBody{
    display: block;
    width: 890px;
    height: 300px;
    margin: 40px auto;
    padding: 5px;
    font-family: "Josefin sans";
    font-size: 25px;
    word-wrap: break-word;
    border-color: black;
    border-width: 2px;
    background-color: antiquewhite
    
}
.sendButton{
    display: block;
    margin: auto;
    font-size: 25px;
    font-family: "Josefin sans";
    padding: 4px;
    border-color: black;
    border-width: 2px;
}

/*--------------------------------------------------*/
/* Nav Bar */
/*--------------------------------------------------*/
.NavBar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw; /* Full width */
    background-color: #8BB990;
    height: 35px;
    display: flex;
    align-items: center;
}

.NavBar *{
    display: inline
}
.NavBarList {

}
.NavBarLink{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: "Josefin sans";
    margin: 20px;
}






















