/*--------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 15px;
	color: #fff;
}

/*--------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------*/
.row{
	margin: 0 auto;
}

/*--------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------*/
header{
	font-family: 'Righteous', cursive;
}

.title-box {
	margin-top: 20px;
	text-align: center;
	color: #000;
	font-size: 250%;
}
.nav-bar{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
.nav-bar li{
    display:inline;

}
.nav-bar a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #000;
}

.reference-icons {
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 3px;
	text-align: center
}
.reference-icons li {
	display: inline;

}
.linkedin-icon {
	height: 30px;
	width: 30px;
}

/*--------------------------------------------------*/
/* BODY */
/*--------------------------------------------------*/
body{
	background-image: url(Grey_Gradient.jpg);
	background-size: cover;
}

/*--------------------------------------------------*/
/* FOOTER */
/*--------------------------------------------------*/
footer{
	font-family: 'Righteous', cursive;
}
.works-cited{
}

