/*--------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 15px;
	color: #fff;
}

/*--------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------*/
.row{
	margin: 0 auto;
}

/*--------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------*/
header{
	font-family: 'Righteous', cursive;
}

.title-box {
	margin-top: 20px;
	text-align: center;
	color: #000;
	font-size: 250%;
}
.nav-bar{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
.nav-bar li{
    display:inline;

}
.nav-bar a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #000;
}
.reference-icons-box{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 2px;
}
.reference-icons{
	text-align: center;
}
.reference-icons li{
	display:inline;
}
.reference-icons a{
	display:inline-block;
	padding:5px;
}

#linkedin-icon {

}

#resume-icon {

}

/*--------------------------------------------------*/
/* BODY */
/*--------------------------------------------------*/
body{
	background-image: url(Grey_Gradient.jpg);
	background-size: cover;
	font-family: 'Righteous', cursive;
	padding: 30px;
}

/*--------------------------------------------------*/
/* FOOTER */
/*--------------------------------------------------*/
footer{
	font-family: 'Righteous', cursive;
}
#about-me-title {
	font-size: 18px;
	text-align: left;
}
.works-cited{
}

