/*--------------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 15px;
	color: #000;
}

/*--------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------------*/
.row{
	margin: 0 auto;
	position: relative;
}

@font-face {
font-family: "Helvetica";
src: url("fonts/helvetica-2-cufonfonts-webfont/Helvetica-BoldOblique.woff");

}

/*--------------------------------------------------*/
/* HEADER */
/*--------------------------------------------------*/
header{
    background-size: cover;
    height: 80vh;
    background-position: center;
    background-image: url(images/Grey_Gradient.jpg);
    text-align: center;
}

.MainTitle {
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color:black;
    display: block;  
}

.Quote{
    width: 500px;
    height: auto;
}

.MainTitleAndQuote{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.links{
    list-style: none;
    text-align: center;
}
.links li{
    padding: 10px;
    display: inline-block;
    
}


.Vusar{
    margin: 50px 0;
    position: relative;
}

.VusarLeftContentBox {
    display: inline-block;
     width: 60%;
}

.VusarLeftContentBox h1{
    margin-left: 25px;
    font-size: 35px;
    font-family: "Helvetica";
}

.VusarLeftContentBox p{
    margin-left: 75px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.Vusar img{
    display: inline-block;
    width: auto;
    height: 135%;
    float: right;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-25%, -50%);  
}




#linkedIn {

}

#linkedInButton {
    width: 50px;
    height: 50px;
}

#resumeButton {
    height: 50px;
    width: auto;
}
