/*--------------------------------*/
/* Main CSS file */
/*--------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.buffer{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.section-title-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
}
