.about-me{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: antiquewhite;
}

.about-me-buffer-container{
    height: 100%;
    width: 50%;
    float: left;

}

.about-me-paragraph-box {
    height: 100%;
    width: 50%;
    float: left;
}

.about-me-paragraph-box p{
    margin: 40px;
    
    font-size: 2vw;
    font-family: "Josefin sans";
    line-height: 5vh;
}

.self-portrait-banner{
    height: 100%;
    width: 100%;
    
    background-color: black;
    
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50px;
}

.self-portrait{
    height: 95%;
    width: auto;
    position: absolute;
    margin-top: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5%;
    border-radius: 50px;
}