.about-me{
    height: 500px;
    width: 100vw;
    position: relative;
}

.about-me-buffer-container{
    height: 100%;
    width: 50%;
    float: left;

    background-color: black;
}

.about-me-paragraph-box {
    height: 100%;
    width: 50%;
    float: left;
}

.about-me-paragraph-box p{
    width: 500px;
    height: auto;
    margin: 40px;
    
    font-size: 20px;
    font-family: "Josefin sans";
    line-height: 30px;
}

.self-portrait-banner{
    height: 100%;
    width: 100%;
    
    background-color: black;
    
    position: absolute;
    top: 0%;
    left: 0%;
}

.self-portrait{
    height:100%;
    width: auto;
    position: absolute;
    margin-top: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}