.skills{
    height: 100vh;
    width: 100vw;
}

.soft-skills-container{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    float: left;
    position: relative;
}

.technical-skills-container{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.skill-bars-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.soft-skills-images-container {
    background-color: aquamarine;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-bar {
    height: 35px;
    width: 408px;
    background-image: url(images/SKILL_BAR.png);
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
}

.rating-bar {
    height: 35px;
    width: 0px;
    background-color: #8BB990;
    margin-left: 4px;
}

.rating-bar h1{
    padding-top: 4px;
    padding-left: 4px;
    opacity: 0.0;
    color: white;
    font-family: "Josefin sans"
}


