.portfolio{
    height: 100vh;
    text-align: center;
    position: relative;
}
.grid-container{
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.grid-cell{
    opacity: 0.0;
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: bisque;
    border-color: #D4B155;
    border-style: solid;
    border-width: 3px;
    display: inline;
}

.grid-cell:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-container{
    position: fixed;
/*    top: -2000px;*/
        top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}


.popup-contents-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 600px;
    background-color:white;
    
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.image-summary-container {
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.popup-image-container {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

.popup-image{
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.popup-summary-container{
    width: 50%;
    float: left;
    position: relative;
}
.popup-summary {
    text-align: left;
    padding: 20px;
    
    font-family: "Josefin Sans";
    font-size: 1vw;
    line-height: 3vh;
}

.popup-title {
    font-family: "Josefin Sans";
    font-size: 50px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    
    margin-top: 15px;
}

.close-button{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: white;
    background-image: url(images/close-button.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 25px;
    top: 15px;
}

.close-button:hover{
    background-image: url(images/close-button-hover.png);
}



.previous-image-button {
    width: 30px;
    height: 30px;
    background-image: url(images/previous-image-button.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-radius: 20px;
    
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.previous-image-button:hover{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.next-image-button {
    height: 30px;
    width: 30px;
    background-image: url(images/next-image-button.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-style: none;
    border-radius: 20px;
    
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    top: 50%;
}

.next-image-button:hover{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}
