.portfolio{
    text-align: center;
    position: relative;
}
.grid-container{
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.grid-cell{
    opacity: 0.0;
    margin: 5px;
    width: 300px;
    height: 300px;
    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: inline;
}

.grid-cell:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-container{
    position: fixed;
    top: -1000px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}


.popup-contents-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    background-color:white;
    
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.image-summary-container {
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.popup-image-container {
    height: 100%;
    width: 50%;
    float: left;
}

.popup-image{
    height: auto;
    width: auto;
    height: 80%;
    width: auto;
}

.popup-summary {
    height: 100%;
    width: 50%;
    float: left;
    
    text-align: left;
    padding: 20px;
    
    font-family: "Josefin Sans";
}

.popup-title {
    font-family: "Josefin Sans";
}
