.portfolio{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.grid-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.grid-cell{
    opacity: 0.0;
    margin: 5px;
    width: 300px;
    height: 300px;
    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: inline;
}

.grid-cell:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-container{
    background-color: bisque;
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}

