
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #8BB990;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 55px;
    min-width: 1100px;
    display: none;
}

.navigation-bar-link {
    font-family: "Josefin Sans";
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 25px;
}

.navigation-bar-button {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 25px;
    width: auto;
}
